DATABASE_URL=mysql+pymysql://schooluser:9133orerO@localhost/school_fee_db
SECRET_KEY=supersecretkey

# Mail
MAIL_SERVER=smtp.gmail.com
MAIL_PORT=587
MAIL_USERNAME=Lovato
MAIL_PASSWORD=9133orerO
MAIL_SENDER=admin@school.test
MAIL_USE_TLS=True
MAIL_USE_SSL=False
